{% extends "Registro/base.html" %}
{% load crispy_forms_tags %}
{% block title%} Login {% endblock %}

{% block content %}

<div class="cover-container d-flex w-50 h-600 p-3 m-auto flex-column ">
    <main class="px-3 text-light">
        <h1 class="text-center p-4 m-auto">Iniciar Sesion</h1>
    </main>

<form method="post" action="">

    {% csrf_token %}

        {% if messages %}

        {% for mensaje in messages %}

        <span class="alert alert-danger" role="alert"> {{mensaje}} </span>

        {% endfor %}

        {% endif %}
    <br><br>
    {{form|crispy}}
    <br><br>
<button type="submit" class="btn btn-success">Iniciar Sesión</button>
</form>
</div>
</div>


{% endblock %}